<!-- Slider background -->
<%= render "erp/ecommerce/frontend/modules/coming/slider" %>

<!-- Header -->
<%= render "erp/ecommerce/frontend/modules/coming/header" %>

<!-- Main content -->
<%= render "erp/ecommerce/frontend/modules/coming/main_content" %>

<!-- Popup -->
<div class="popup_wrapper">	
	<!-- Popup about us -->
	<%= render "erp/ecommerce/frontend/modules/coming/popup_about_us" %>
  
	<!-- Popup location -->
	<%= render "erp/ecommerce/frontend/modules/coming/popup_location" %>
</div>

<!-- Social media links -->
<%= render "erp/ecommerce/frontend/modules/coming/social_media" %>

<%= render "erp/ecommerce/frontend/modules/coming/js_include" %>