<div class="container">
    <div class="collapse navbar-collapse navbar-collapse-no-pad" id="main-nav-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <span >Bạn muốn mua gì?</span>
                    CHUYÊN MỤC SẢN PHẨM
                    <i class="drop-caret" data-toggle="dropdown"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-category">
                    <li>
                        <%= link_to '<i class="fa fa-home dropdown-menu-category-icon"></i>Máy Vi Tính'.html_safe,
                                    erp_ecommerce.product_listing_path %>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Home & Garden</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Home</a>
                                                    <p>Ante at eu risus tempor</p>
                                                </li>
                                                <li><a href="#">Kitchen</a>
                                                    <p>Augue congue dictumst commodo fames</p>
                                                </li>
                                                <li><a href="#">Furniture & Decor</a>
                                                    <p>Nascetur habitasse nascetur praesent enim</p>
                                                </li>
                                                <li><a href="#">Bedding & Bath</a>
                                                    <p>Ac nostra sagittis enim hac</p>
                                                </li>
                                                <li><a href="#">Appilances</a>
                                                    <p>Blandit luctus cursus convallis fusce</p>
                                                </li>
                                                <li><a href="#">Patio, Lawn & Garden</a>
                                                    <p>Eros bibendum montes dolor condimentum</p>
                                                </li>
                                                <li><a href="#">Wedding Registry</a>
                                                    <p>Nisi faucibus adipiscing luctus sem</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Home Improvement</a>
                                                    <p>Parturient ornare habitant fames facilisi</p>
                                                </li>
                                                <li><a href="#">Lamps & Light Fixtures</a>
                                                    <p>Justo dictumst dictumst leo dictum</p>
                                                </li>
                                                <li><a href="#">Kitchen & Bath Fixtures</a>
                                                    <p>Venenatis aliquet sociis et cras</p>
                                                </li>
                                                <li><a href="#">Home Automation</a>
                                                    <p>Venenatis per montes platea morbi</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/2.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Jewelry</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Jewelry</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Necklances & Pendants</a>
                                                    <p>Pharetra fusce bibendum tincidunt auctor</p>
                                                </li>
                                                <li><a href="#">Bracelets</a>
                                                    <p>Malesuada eu nec nec himenaeos</p>
                                                </li>
                                                <li><a href="#">Rings</a>
                                                    <p>Rhoncus potenti integer sagittis magnis</p>
                                                </li>
                                                <li><a href="#">Errings</a>
                                                    <p>Tempus etiam congue vehicula dictum</p>
                                                </li>
                                                <li><a href="#">Wedding & Engagement</a>
                                                    <p>Ipsum cursus augue donec molestie</p>
                                                </li>
                                                <li><a href="#">Charms</a>
                                                    <p>Fames hendrerit ante suscipit iaculis</p>
                                                </li>
                                                <li><a href="#">Booches</a>
                                                    <p>Ridiculus faucibus commodo praesent risus</p>
                                                </li>
                                                <li><a href="#">Men's Jewelry</a>
                                                    <p>Auctor luctus diam fusce urna</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Jewelry Shops</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Contemporary & Designer</a>
                                                    <p>Potenti blandit urna viverra aenean</p>
                                                </li>
                                                <li><a href="#">Juniors</a>
                                                    <p>Faucibus mauris sit cras diam</p>
                                                </li>
                                                <li><a href="#">Meternity</a>
                                                    <p>Nec morbi erat mi at</p>
                                                </li>
                                                <li><a href="#">Pettite</a>
                                                    <p>Quam consectetur praesent litora mauris</p>
                                                </li>
                                                <li><a href="#">Uniforms, Works & Safety</a>
                                                    <p>Ultrices neque proin leo in</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/3.png" alt="Image Alternative text" title="Image Title" style="right: -10px; bottom: -10px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Toy & Kids</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Kids Clothing</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Accessories</a>
                                                    <p>Lobortis gravida nullam quis egestas</p>
                                                </li>
                                                <li><a href="#">Active Wear</a>
                                                    <p>Est penatibus primis dictumst vestibulum</p>
                                                </li>
                                                <li><a href="#">Coats & Jackets</a>
                                                    <p>Odio mi dolor justo curabitur</p>
                                                </li>
                                                <li><a href="#">Jeans</a>
                                                    <p>Tellus nostra bibendum facilisis vitae</p>
                                                </li>
                                                <li><a href="#">Sets</a>
                                                    <p>Est ut per nascetur malesuada</p>
                                                </li>
                                                <li><a href="#">Indoors</a>
                                                    <p>Lectus habitasse suscipit cursus natoque</p>
                                                </li>
                                                <li><a href="#">Swimwear</a>
                                                    <p>Velit nascetur nisi sagittis nam</p>
                                                </li>
                                                <li><a href="#">Special Occasion</a>
                                                    <p>Ullamcorper ornare auctor rhoncus nulla</p>
                                                </li>
                                                <li><a href="#">Shoes</a>
                                                    <p>Pellentesque tempus penatibus tristique lobortis</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">More For Kids</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Kids Furniture</a>
                                                    <p>Dignissim sollicitudin luctus lacus litora</p>
                                                </li>
                                                <li><a href="#">Kids Jewelry & Watches</a>
                                                    <p>Justo nascetur iaculis pharetra velit</p>
                                                </li>
                                                <li><a href="#">Toys & Games</a>
                                                    <p>Torquent pellentesque euismod nascetur penatibus</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/4.png" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electronics</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Electronics</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">TV & Video</a>
                                                    <p>Consequat etiam sodales non condimentum</p>
                                                </li>
                                                <li><a href="#">Home Audio & Theater</a>
                                                    <p>Congue tellus varius leo quam</p>
                                                </li>
                                                <li><a href="#">Camera, Photo & Video</a>
                                                    <p>Elit id massa per at</p>
                                                </li>
                                                <li><a href="#">Cell Phones & Accessories</a>
                                                    <p>Cum consectetur sociosqu ultricies venenatis</p>
                                                </li>
                                                <li><a href="#">Headphones</a>
                                                    <p>Nulla pretium ullamcorper aliquet taciti</p>
                                                </li>
                                                <li><a href="#">Video Games</a>
                                                    <p>Facilisi nullam class dis ad</p>
                                                </li>
                                                <li><a href="#">Gar Electronics</a>
                                                    <p>Curae habitasse libero taciti commodo</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Computers</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Laptops & Tablets</a>
                                                    <p>Molestie vivamus fames morbi sollicitudin</p>
                                                </li>
                                                <li><a href="#">Desktops & Monitors</a>
                                                    <p>Nullam fames commodo adipiscing primis</p>
                                                </li>
                                                <li><a href="#">Computer Accessories</a>
                                                    <p>Fringilla sodales et convallis hac</p>
                                                </li>
                                                <li><a href="#">Software</a>
                                                    <p>Himenaeos fermentum dictumst suscipit rutrum</p>
                                                </li>
                                                <li><a href="#">Printers & Ink</a>
                                                    <p>Id primis rutrum per dapibus</p>
                                                </li>
                                                <li><a href="#">Networking</a>
                                                    <p>Condimentum nostra consequat ullamcorper curae</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/5.png" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>
                            <i class="fa fa-tags dropdown-menu-category-icon"></i>
                            <a href="" class="sub-menu">Clothes</a> - <a href="" class="sub-menu">Shoes</a>
                        </span>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">TheBox Fashion</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Woman</a>
                                                    <p>Fermentum proin feugiat eleifend himenaeos</p>
                                                </li>
                                                <li><a href="#">Men</a>
                                                    <p>Non nunc diam primis feugiat</p>
                                                </li>
                                                <li><a href="#">Girls</a>
                                                    <p>Mollis fermentum tellus vulputate et</p>
                                                </li>
                                                <li><a href="#">Boys</a>
                                                    <p>Mi quis dis mus conubia</p>
                                                </li>
                                                <li><a href="#">Baby</a>
                                                    <p>Suspendisse aenean nisi venenatis cum</p>
                                                </li>
                                                <li><a href="#">Luggage</a>
                                                    <p>Bibendum consequat imperdiet class litora</p>
                                                </li>
                                                <li><a href="#">Accessories</a>
                                                    <p>Habitant elementum pellentesque purus vulputate</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/6.png" alt="Image Alternative text" title="Image Title" style="right: -20px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Sports</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Athletic Clothing</a>
                                                    <p>Suspendisse felis aliquet eu commodo</p>
                                                </li>
                                                <li><a href="#">Exorcise & Fitness</a>
                                                    <p>Aliquam ut ultricies facilisi eu</p>
                                                </li>
                                                <li><a href="#">Hunting & Fishing</a>
                                                    <p>Metus cum facilisi aenean in</p>
                                                </li>
                                                <li><a href="#">Team Sports</a>
                                                    <p>Penatibus lectus pulvinar ornare platea</p>
                                                </li>
                                                <li><a href="#">Fan Sports</a>
                                                    <p>Nec in tempor vel amet</p>
                                                </li>
                                                <li><a href="#">Golf</a>
                                                    <p>Lectus diam penatibus porta tellus</p>
                                                </li>
                                                <li><a href="#">Sports Collections</a>
                                                    <p>Convallis montes taciti cras sollicitudin</p>
                                                </li>
                                                <li><a href="#">Camping & Hiking</a>
                                                    <p>Semper inceptos dui ullamcorper dignissim</p>
                                                </li>
                                                <li><a href="#">Cycling</a>
                                                    <p>Orci natoque justo tortor laoreet</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/7.png" alt="Image Alternative text" title="Image Title" style="right: -39px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Entertaiment</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Entertaiment</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Video Games & Consoles</a>
                                                    <p>Diam vestibulum orci convallis malesuada</p>
                                                </li>
                                                <li><a href="#">Music</a>
                                                    <p>Orci pellentesque nascetur massa amet</p>
                                                </li>
                                                <li><a href="#">DVD & Movies</a>
                                                    <p>Parturient bibendum per eros sollicitudin</p>
                                                </li>
                                                <li><a href="#">Tickets</a>
                                                    <p>Metus vel torquent venenatis elementum</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Memorabilia</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Autographs</a>
                                                </li>
                                                <li><a href="#">Movie</a>
                                                </li>
                                                <li><a href="#">Music</a>
                                                </li>
                                                <li><a href="#">Television</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/9.png" alt="Image Alternative text" title="Image Title" style="right: -27px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Travel</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Travel Equepment</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Luggage</a>
                                                    <p>Sociis aliquam duis auctor est</p>
                                                </li>
                                                <li><a href="#">Travel Accessories</a>
                                                    <p>Est fringilla hendrerit proin porta</p>
                                                </li>
                                                <li><a href="#">Luggage Accessories</a>
                                                    <p>Metus velit dolor ullamcorper malesuada</p>
                                                </li>
                                                <li><a href="#">Lodging</a>
                                                    <p>Dis convallis accumsan malesuada ultricies</p>
                                                </li>
                                                <li><a href="#">Maps</a>
                                                    <p>Magnis netus eget magna rhoncus</p>
                                                </li>
                                                <li><a href="#">Other Travel</a>
                                                    <p>Primis turpis primis ullamcorper aenean</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Booking</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Vacation Packages</a>
                                                    <p>Eros vulputate inceptos netus malesuada</p>
                                                </li>
                                                <li><a href="#">Campground & RV</a>
                                                    <p>Consequat dis vulputate habitant ligula</p>
                                                </li>
                                                <li><a href="#">Rail</a>
                                                    <p>Ridiculus habitant ad sollicitudin commodo</p>
                                                </li>
                                                <li><a href="#">Car Rental</a>
                                                    <p>Elementum eleifend odio odio quis</p>
                                                </li>
                                                <li><a href="#">Cruises</a>
                                                    <p>Duis penatibus hendrerit malesuada phasellus</p>
                                                </li>
                                                <li><a href="#">Airline</a>
                                                    <p>Et purus nascetur sollicitudin faucibus</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/11.png" alt="Image Alternative text" title="Image Title" style="right: -100px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Art</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Paintings from Dealers & Resellers</a>
                                                    <p>Quam mollis lacus consequat sodales</p>
                                                </li>
                                                <li><a href="#">Paintings Direct from Artist</a>
                                                    <p>Metus parturient morbi a condimentum</p>
                                                </li>
                                                <li><a href="#">Art Prints</a>
                                                    <p>Eleifend urna placerat iaculis in</p>
                                                </li>
                                                <li><a href="#">Art Photographs from Resellers</a>
                                                    <p>Consequat tellus ut sodales libero</p>
                                                </li>
                                                <li><a href="#">Art Photographs from the Artist</a>
                                                    <p>Ad tempor sem risus condimentum</p>
                                                </li>
                                                <li><a href="#">Art Posters</a>
                                                    <p>Sapien ac laoreet nibh risus</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Design</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Home Decor Decals</a>
                                                    <p>Pellentesque est ligula lacinia luctus</p>
                                                </li>
                                                <li><a href="#">Furniture</a>
                                                    <p>Nullam cursus sit placerat habitant</p>
                                                </li>
                                                <li><a href="#">Wallpapers</a>
                                                    <p>Phasellus neque a risus lorem</p>
                                                </li>
                                                <li><a href="#">Bar Flasks</a>
                                                    <p>Risus orci quisque mauris accumsan</p>
                                                </li>
                                                <li><a href="#">Posters & Prints</a>
                                                    <p>Feugiat orci etiam iaculis etiam</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/12.png" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Motors</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Motors</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Parts & Accessories</a>
                                                    <p>Eros pretium litora dui vestibulum</p>
                                                </li>
                                                <li><a href="#">Cars & Trucks</a>
                                                    <p>Fermentum himenaeos gravida nisi amet</p>
                                                </li>
                                                <li><a href="#">Motorcycles</a>
                                                    <p>Placerat inceptos malesuada hac mattis</p>
                                                </li>
                                                <li><a href="#">Passenger Vehicles</a>
                                                    <p>Netus metus eleifend laoreet orci</p>
                                                </li>
                                                <li><a href="#">Industry Vehicles</a>
                                                    <p>A cras mus rhoncus risus</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Brands</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">BMW</a>
                                                </li>
                                                <li><a href="#">Land Rover</a>
                                                </li>
                                                <li><a href="#">Nissan</a>
                                                </li>
                                                <li><a href="#">Honda</a>
                                                </li>
                                                <li><a href="#">Ford</a>
                                                </li>
                                                <li><a href="#">Porsche</a>
                                                </li>
                                                <li><a href="#">Audi</a>
                                                </li>
                                                <li><a href="#">Mercedes-Benz</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/13.png" alt="Image Alternative text" title="Image Title" style="right: -15px; bottom: -15px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Pets</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <h5 class="dropdown-menu-category-title">Pet Supplies</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Backyard Poultry Supplies</a>
                                                    <p>Dapibus libero sapien lobortis suspendisse</p>
                                                </li>
                                                <li><a href="#">Bird Supplies</a>
                                                    <p>Sagittis vivamus justo potenti vehicula</p>
                                                </li>
                                                <li><a href="#">Cat Supplies</a>
                                                    <p>Hac fames placerat mauris penatibus</p>
                                                </li>
                                                <li><a href="#">Dog Supplies</a>
                                                    <p>Ligula enim netus condimentum pretium</p>
                                                </li>
                                                <li><a href="#">Pet Memorials & Urns</a>
                                                    <p>Iaculis quisque interdum libero mi</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Fish & Aquariums</a>
                                                    <p>Convallis rutrum maecenas phasellus euismod</p>
                                                </li>
                                                <li><a href="#">Horse Supplies</a>
                                                    <p>Vel curae facilisis fermentum cras</p>
                                                </li>
                                                <li><a href="#">Reptile Supplies</a>
                                                    <p>Feugiat habitasse sociis aptent feugiat</p>
                                                </li>
                                                <li><a href="#">Small Animal Supplies</a>
                                                    <p>Faucibus turpis ultrices ac cubilia</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Wholesale Lots</a>
                                                    <p>Curabitur ligula posuere felis ornare</p>
                                                </li>
                                                <li><a href="#">Other Pet Supplies</a>
                                                    <p>Tincidunt et scelerisque vulputate ultrices</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/14.png" alt="Image Alternative text" title="Image Title" style="right: -15px;" />
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Hobbies & DIY</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Hobby & DIY</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li><a href="#">Model & Kit Tools</a>
                                                    <p>Aliquet ligula placerat donec interdum</p>
                                                </li>
                                                <li><a href="#">Supplies & Engines</a>
                                                    <p>Elit nulla conubia dui massa</p>
                                                </li>
                                                <li><a href="#">RC Airline & Helicopter</a>
                                                    <p>Euismod tempor ultrices fringilla turpis</p>
                                                </li>
                                                <li><a href="#">RC Car, Truck & motorcycle</a>
                                                    <p>Fames malesuada fermentum dis quis</p>
                                                </li>
                                                <li><a href="#">Military Airline Models & Kits</a>
                                                    <p>Lacinia natoque himenaeos auctor penatibus</p>
                                                </li>
                                                <li><a href="#">Craft Airbrushing Supplies</a>
                                                    <p>Penatibus curabitur nisi pharetra posuere</p>
                                                </li>
                                                <li><a href="#">Card Making Supplies</a>
                                                    <p>Rhoncus diam laoreet eu ultrices</p>
                                                </li>
                                                <li><a href="#">Craft Sewing</a>
                                                    <p>Cum ipsum magna sociosqu hendrerit</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="/frontend/img/test_cat/15.png" alt="Image Alternative text" title="Image Title" style="height: 100%;" />
                            </div>
                        </div>
                    </li>
                </ul>
            </li>                        
            <li class="dropdown">
                <%= link_to "XU HƯỚNG", "", class: "navbar-item-top" %>
            </li>
            <li class="dropdown">
                <%= link_to "KHUYẾN MÃI", "", class: "navbar-item-top" %>
            </li>
            <li class="dropdown">
                <%= link_to "BÁN CHẠY", "", class: "navbar-item-top" %>
            </li>
            <li class="dropdown">
                <%= link_to "THƯƠNG HIỆU", "", class: "navbar-item-top" %>
            </li>
            <li class="dropdown">
                <%= link_to "SỰ KIỆN", "", class: "navbar-item-top" %>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-right-no-mar navbar-nav-lg">
            <li>
                <a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text" title="Đăng nhập tài khoản">
                    <span >Xin chào, vui lòng</span>
                    ĐĂNG NHẬP
                </a>
            </li>
            <li>
                <a href="" title="Giỏ hàng của bạn">
                    <span>Giỏ hàng</span>
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </div>
</div>