<div class="tabbable category-tabs">
    <ul class="nav nav-pills" id="myTab">
        <li class="active">
            <a href="#tab-1" data-toggle="tab">Xu hướng hot</a>
        </li>
        <li>
            <a href="#tab-2" data-toggle="tab">Thời trang</a>
        </li>
        <li>
            <a href="#tab-3" data-toggle="tab">Điện tử</a>
        </li>
        <li>
            <a href="#tab-4" data-toggle="tab">Đồng hồ & Phụ kiện</a>
        </li>
        <li>
            <a href="#tab-5" data-toggle="tab">Nội thất</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-1">
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-01.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#dongho</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-01.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#dongho</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-2">
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-02.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#quanao</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-02.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#quanao</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-3">
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-03.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#laptop</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-03.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#laptop</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-4">
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-04.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#vongtay</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-04.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#vongtay</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-5">
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-05.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#ghe</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row" data-gutter="15">
                <% (0..5).each do |product| %>
                    <div class="col-md-2">
                        <div class="product product-sm ">
                            <div class="product-img-wrap">
                                <%= image_tag "/frontend/img/hot-05.jpg", alt: "", title: "", class: "product-img" %>
                            </div>
                            <%= link_to "", "", class: "product-link" %>
                            <div class="product-caption">
                                <ul class="product-caption-rating">
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <h5 class="product-caption-title">#ghe</h5>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>