<footer class="main-footer">
    <div class="container">
        <div class="row row-col-gap" data-gutter="60">
            <div class="col-md-3">
                <h4 class="widget-title-sm">CROKET.VN</h4>
                <p>Vehicula interdum sit consectetur arcu fusce turpis nisl sollicitudin euismod fringilla habitant</p>
                <ul class="main-footer-social-list">
                    <li><%= link_to "", "", class: "fa fa-facebook" %></li>
                    <li><%= link_to "", "", class: "fa fa-twitter" %></li>
                    <li><%= link_to "", "", class: "fa fa-pinterest" %></li>
                    <li><%= link_to "", "", class: "fa fa-instagram" %></li>
                    <li><%= link_to "", "", class: "fa fa-google-plus" %></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="widget-title-sm">Popular Tags</h4>
                <ul class="main-footer-tag-list">
                    <li><a href="#">New Season</a>
                    </li>
                    <li><a href="#">Watches</a>
                    </li>
                    <li><a href="#">woman</a>
                    </li>
                    <li><a href="#">classic</a>
                    </li>
                    <li><a href="#">modern</a>
                    </li>
                    <li><a href="#">blue</a>
                    </li>
                    <li><a href="#">shoes</a>
                    </li>
                    <li><a href="#">running</a>
                    </li>
                    <li><a href="#">jeans</a>
                    </li>
                    <li><a href="#">sports</a>
                    </li>
                    <li><a href="#">laptops</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="widget-title-sm">ĐĂNG KÝ NHẬN TIN</h4>
                <form>
                    <div class="form-group">
                        <label>Nhận thông tin khuyến mãi</label>
                        <input class="newsletter-input form-control" placeholder="Your e-mail address" type="text" />
                    </div>
                    <input class="btn btn-primary" type="submit" value="ĐĂNG KÝ" />
                </form>
            </div>
        </div>
        <ul class="main-footer-links-list">
            <li><a href="#">About Us</a>
            </li>
            <li><a href="#">Jobs</a>
            </li>
            <li><a href="#">Legal</a>
            </li>
            <li><a href="#">Support & Customer Service</a>
            </li>
            <li><a href="#">Blog</a>
            </li>
            <li><a href="#">Privacy</a>
            </li>
            <li><a href="#">Terms</a>
            </li>
            <li><a href="#">Press</a>
            </li>
            <li><a href="#">Shipping</a>
            </li>
            <li><a href="#">Payments & Refunds</a>
            </li>
        </ul>
        <img class="main-footer-img" src="/frontend/img/test_footer2.png" alt="Image Alternative text" title="Image Title" />
    </div>
</footer>