<div class="navbar-before mobile-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                    <li><%= link_to "TRANG CHỦ", erp_ecommerce.root_path, title: "" %></li>
                    <li><%= link_to "GIỚI THIỆU", "", title: "" %></li>
                    <li><%= link_to "LIÊN HỆ", "", title: "" %></li>
                    <li><%= link_to "KIỂM TRA ĐƠN HÀNG", "", title: "" %></li>
                    <li><%= link_to "CHĂM SÓC KHÁCH HÀNG", "", title: "" %></li>
                    <li><%= link_to "ĐĂNG NHẬP", "", title: "", class: "login" %></li>
                    <li><%= link_to "ĐĂNG KÝ", "", title: "", class: "logout" %></li>
                </ul>
            </div>
        </div>
    </div>
</div>