<ul class="uk-slideshow uk-slideshow-fullscreen slideshow" data-uk-slideshow="{autoplay:true}">
    <li>
        <%= image_tag "/coming/images/coming-soon-01.jpg", alt: "", title: "" %>
    </li>
    <li>
        <%= image_tag "/coming/images/coming-soon-02.jpg", alt: "", title: "" %>
    </li>
    <li>
        <%= image_tag "/coming/images/coming-soon-03.jpg", alt: "", title: "" %>
    </li>
    <li>
        <%= image_tag "/coming/images/coming-soon-04.jpg", alt: "", title: "" %>
    </li>
    <li>
        <%= image_tag "/coming/images/coming-soon-05.jpg", alt: "", title: "" %>
    </li>
    <li>
        <%= image_tag "/coming/images/coming-soon-06.jpg", alt: "", title: "" %>
    </li>
</ul>