<div class="global-wrapper clearfix" id="global-wrapper">
    <%= render "erp/ecommerce/frontend/modules/top_navbar" %>
    
    <%= render "erp/ecommerce/frontend/modules/dialog/login" %>
    <%= render "erp/ecommerce/frontend/modules/dialog/register" %>
    <%= render "erp/ecommerce/frontend/modules/dialog/forgot_password" %>
    
    <nav class="navbar navbar-inverse navbar-main navbar-pad">
        <%= render "erp/ecommerce/frontend/modules/center_navbar" %>
    </nav>

    <nav class="navbar-inverse navbar-main yamm">
        <%= render "erp/ecommerce/frontend/modules/bottom_navbar" %>
    </nav>        

    <div class="owl-carousel owl-loaded owl-nav-dots-inner" data-options='{"items":1,"loop":true,"autoplay":true,"autoplayTimeout":5000}'>
        <%= render "erp/ecommerce/frontend/modules/slideshow" %>
    </div>
    
    <div class="gap"></div>
    
    <div class="container">
        <%= render "erp/ecommerce/frontend/modules/popular_categories" %>
        <div class="gap"></div>
        <%= render "erp/ecommerce/frontend/modules/category_tabs" %>
    </div>
    
    <div class="gap"></div>

    <%= render "erp/ecommerce/frontend/modules/footer" %>
    
    <div class="copyright-area">
        <%= render "erp/ecommerce/frontend/modules/copyright" %>
    </div>
</div>
<%= render "erp/ecommerce/frontend/modules/js_include" %>