<!DOCTYPE HTML>
	
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Coming Soon - Website thương mại điện tử</title>
	<%= favicon_link_tag '/coming/images/favicon.png', rel: 'shortcut icon' %>
	<!--<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114.png">-->
	<%= stylesheet_link_tag "/coming/css/uikit.css" %>
	<%= stylesheet_link_tag "/coming/css/slideshow.min.css" %>
	<%= stylesheet_link_tag "/coming/css/styles.css" %>
</head>
<body>
	
	<%= yield %>

</body>
</html>