<!DOCTYPE HTML>
<html>

<head>
    <title>Trang Chủ - Website thương mại điện tử</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400italic,400' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700,600" %>
    <%= stylesheet_link_tag "/frontend/css/bootstrap.css" %>
    <%= stylesheet_link_tag "/frontend/css/font-awesome.css" %>
    <%= stylesheet_link_tag "/frontend/css/styles.css" %>
    <%= stylesheet_link_tag "/frontend/css/schemes/bright-turquoise.css" %>
    <%= stylesheet_link_tag "/frontend/css/mystyles.css" %>
    <%= favicon_link_tag '/frontend/img/favicon.png', rel: 'shortcut icon', type: '/frontend/img/x-icon' %>
</head>

<body>
    
    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "erp/ecommerce/frontend/modules/top_navbar" %>
        
        <%= render "erp/ecommerce/frontend/modules/dialog/login" %>
        <%= render "erp/ecommerce/frontend/modules/dialog/register" %>
        <%= render "erp/ecommerce/frontend/modules/dialog/forgot_password" %>
        
        <nav class="navbar navbar-inverse navbar-main navbar-pad">
            <%= render "erp/ecommerce/frontend/modules/center_navbar" %>
        </nav>
    
        <nav class="navbar-inverse navbar-main yamm">
            <%= render "erp/ecommerce/frontend/modules/bottom_navbar" %>
        </nav>        
    
        <%= yield %>
    
        <%= render "erp/ecommerce/frontend/modules/footer" %>
        
        <div class="copyright-area">
            <%= render "erp/ecommerce/frontend/modules/copyright" %>
        </div>
    </div>
    <%= render "erp/ecommerce/frontend/modules/js_include" %>
    
</body>

</html>